<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{fragments/header :: header}"></head>
<body id="page-top">
<div id="wrapper">
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <div th:replace="~{fragments/topbar :: topbar}"></div>
            <div class="container-fluid">

                <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>

                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Tunjuk Kepala Area untuk Laporan CC Email</h6>
                    </div>
                    <div class="card-body">
                        <form th:action="@{/pengaturan/kepala-area/save}" method="post">
                            <div class="row">
                                <div th:each="area : ${allAreas}" class="col-md-6 form-group mb-3">
                                    <label th:for="${'head_' + area.name()}" th:text="'Kepala Area ' + ${area.displayName}"></label>
                                    <select class="form-control" th:id="${'head_' + area.name()}" th:name="${'head_' + area.name()}">
                                        <option value="">-- Tidak Ada --</option>
                                        
                                        <th:block th:if="${usersByArea.containsKey(area)}">
                                            <option th:each="user : ${usersByArea.get(area)}"
                                                    th:value="${user.id}"
                                                    th:text="${user.username}"
                                                    th:selected="${currentHeads.get(area) != null and currentHeads.get(area).id == user.id}">
                                            </option>
                                        </th:block>
                                    </select>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary mt-3">Simpan Perubahan</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </div>
</div>
</body>
</html>